/* Container for the whole page */
.items{
    min-height: 600px;
}
.itemContainer {
    
    width: 80%;
    height: 100%;
    margin: 30px auto ;
    background-color: #f4f4f4;
    border-radius: 8px;
   
    
   
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.itemInfo{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100%;
    margin: 5px ;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.itemBotton{
   
  
    margin-bottom: 10px ;
    
}


/* Styling the title */
.itemTitle {
    font-size: 28px;
    margin: 5px;
    color: #333;
}

/* Styling the description */
.itemDescription {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #343a40;
}
.itemButton{
    padding: 10px 15px;
    border: none;
    background-color: #4f4f50;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.itemButton:hover{
    background-color: #b6b6b6;
}
.price {
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1;
    color: #343a40;
}
.address {
    font-style: italic;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #343a40;
}
/* Category styling */


.photoContainer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.mainPhoto {
    height: 400px;
    position: relative;
    padding: 0px;
   
}

.thumbnailPhotos {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.thumbnailPhoto {
    width: 100px;
    height: 100px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    
}

.thumbnailPhoto.active {
    border: 2px solid #aaaaaa;
    background-color: #ffffff;
}


.photo {
    
  max-height: 400px;
    border-radius: 0px;
   padding: 10px;
     /* Optional, if you want the photo to be responsive */
}

.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* This will vertically center the button. */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black. Adjust as needed. */
    color: #FFF; /* White color for the arrow */
    border: none;
    cursor: pointer;
}

.navButton.prev {
    left: 10px; /* Place the previous button 10px from the left */
}

.navButton.next {
    right: 10px; /* Place the next button 10px from the right */
}
.itemInfoContainer{
    align-items: center;
    text-align: center;
}
.category {
  
    font-size: 13px;
   
    display: inline-table;
    margin: 0px;
  }
  
  .category-list {
    margin: 0 0  0 10px;
    padding: 0;

  }
  
  .category-list li {
 
    display: inline;
    margin-right: 10px;
  }
  .category-list li a {
    font-size: 13px;
    color: #333;
    
  }
  .category-list li:last-child {
    margin-right: 0;
  }
  
@media only screen and (max-width: 600px) {
    .photoContainer {
    
        display: inline;
        align-items: center;
        justify-content: center;
    
    }
    .thumbnailPhotos {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        justify-content: center;
    }
    .mainPhoto {height: 250px;
        position: relative;
        padding: 0px;
       
    }
}