/* Styling for labels */
.label {
  display: block;
  text-align: center;
  /* Add your label styling here */
}

/* Styling for titles */
.title {
  text-align: center;
  font-size: 24px; /* Example font-size */
  /* Add your title styling here */
}

/* Styling for headings */
.heading {
  text-align: center;
  font-size: 28px; /* Example font-size */
  margin: 0px;
  /* Add your heading styling here */
}

/* Styling for containers */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 200px;
  width: 100%;
  padding: 0 20px;
  /* Add your container styling here */
}

/* Styling for places */
.place {
  display: block;
  text-align: center;
  border-radius: 2ch;
  margin: 0 auto;
  min-height: 200px;
  width: 100%;
  padding: 0 20px;
  background-color: #ffecec;
  /* Add your place styling here */
}

/* Styling for the dragging element */
.dragging {
  border: 1px solid black;
  display: block;
  text-align: center;
  min-height: 200px;
  width: 100%;
  background-color: #d8cece;
  border: 2px dashed #aaa;
  /* Add your dragging element styling here */
}

/* Styling for file input */
.fileInput {
  display: none;
}

/* Styling for labels */
.label {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #242424; /* Background color for labels */
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.label:hover {
  background-color: #3e3e3e; /* Slightly darker background color on hover */
}

/* Styling for the image container */
.imageContainer {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  /* Add your image container styling here */
}

/* Styling for images */
img {
  padding: 10px;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scale image to fit container */
  border-radius: 10%; /* Make image round */
}

/* Styling for delete buttons */
.deleteButton {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(64, 8, 8); /* Background color for delete button */
  border: none;
  border-radius: 10%; /* Make the button round */
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 26px; /* Adjust font size as needed */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* Add your delete button styling here */
}
